$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre);
/**
 * App-wide Styles
 */

 body {
  font-family: 'Averia Serif Libre', san-serif;
 }

 // Navbar styles

.navbar-default .container-fluid {
  padding: 0 50px;
}
 .control-group.sign-in {
  float: right;
  
  input {
    width: 200px;
  }
 }
 
.btc-logo {
  width: 25px;
  position: relative;
  bottom: 2px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.btn-large {
  font-family: 'Averia Serif Libre', cursive;
  box-sizing: border-box;
  width: auto;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 20px 8px 20px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border: 1;
  margin-top: 10px;

  color: #222;
  border-color: #f6c653 #bd6a23 #b6631f #e8ab4a;
  /*background: #d79922 url("../assets/lol-textures.jpg") no-repeat 50% -846px;*/
  background: linear-gradient(orange, rgb(255, 97, 0));
  &:hover {
    color: #222;
    border-color: #fdeaba #bf712c #b66521 #edbd6e;
    background: linear-gradient(#E57E1A, #ffb800);
  }

  &:active {
    color: #222;
    border-color: #e1b03d #7f3517 #772d16 #c17f30;
    background: #D08901;
  }
}
.btn-large-primary {
  color: #222;
  border-color: #f6c653 #bd6a23 #b6631f #e8ab4a;
  background: linear-gradient(orange, rgb(255, 97, 0));
  border: 1;
  &:hover {
    color: #222;
    border-color: #fdeaba #bf712c #b66521 #edbd6e;
    background: #DAA743;
  }

  &:active {
    color: #222;
    border-color: #e1b03d #7f3517 #772d16 #c17f30;
    background: #D08901;
  }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'btc_transaction/btc_transaction.scss';
@import 'home/home.scss';
@import 'main/main.scss';
@import 'match/match.scss';
@import 'summoner_search/summoner_search.scss';
@import 'modal/modal.scss';
// endinjector




.left { 
  padding:10px;
}

.left input[type="text"] {
  padding:5px;
}

p.online {
  color:green;
}
p.offline {
  color:red;
}
ul.summonerFilter{
  list-style-type:none;
}
