$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre);
/**
 * App-wide Styles
 */

 body {
  font-family: 'Averia Serif Libre', san-serif;
  background: url('../../assets/images/background.jpg');
  background-size: cover;
 }
 
 a {
  color: white;
 }

 button a {
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
 }

 // Navbar styles

.navbar-default .container-fluid {
  padding: 0 50px;
}
 .control-group.sign-in {
  float: right;
  
  input {
    width: 200px;
  }
 }
 
.btc-logo {
  width: 25px;
  position: relative;
  bottom: 2px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.btn-large {
  font-family: 'Averia Serif Libre', cursive;
  box-sizing: border-box;
  width: auto;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 20px 8px 20px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border: 1;
  margin-top: 10px;


  color: #222;
  border-color: #f6c653 #bd6a23 #b6631f #e8ab4a;
  /*background: #d79922 url("../assets/lol-textures.jpg") no-repeat 50% -846px;*/
  background: linear-gradient(orange, rgb(255, 97, 0));
  &:hover {
    color: #222;
    border-color: #fdeaba #bf712c #b66521 #edbd6e;
    background: linear-gradient(#E57E1A, #ffb800);
  }

  &:active {
    color: #222;
    border-color: #e1b03d #7f3517 #772d16 #c17f30;
    background: #D08901;
  }
}
.btn-large-primary {
  color: #222;
  border-color: #f6c653 #bd6a23 #b6631f #e8ab4a;
  background: linear-gradient(orange, rgb(255, 97, 0));
  border: 1;
  &:hover {
    color: #222;
    border-color: #fdeaba #bf712c #b66521 #edbd6e;
    background: #DAA743;
  }

  &:active {
    color: #222;
    border-color: #e1b03d #7f3517 #772d16 #c17f30;
    background: #D08901;
  }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'btc_transaction/btc_transaction.scss';
@import 'home/home.scss';
@import 'main/main.scss';
@import 'match/match.scss';
@import 'summoner_search/summoner_search.scss';
@import 'modal/modal.scss';
// endinjector




.left { 
  padding:10px;
}

.left input[type="text"] {
  padding:5px;
}

.online {
  color:green;
}
.offline {
  color:red;
}
ul.summonerFilter{
  list-style-type:none;
}

.nav-styles{
  z-index: 1;
  position: absolute;
  background: rgba(24, 24, 24, 0.86);
  height: 100vh;
  top: 0px;
  left: -185px;
  padding-right: 0;
  transition: all 1s;
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) { 
    font-size: 14px;
    left: -120px;
    z-index: 10000;
    top: 0px;
    margin: 0;
    padding-left: 0;
  }
}

.nav-show{
  left: 0px;
  color: green;
  transition: all 1s;
}

.slider-button{
  position: relative;
  float: right;
  padding-right: 5px;
  color: white;
  top: 7px;
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) { 
    float: right;
    top: 10px;
  }

}


/* Hamburgers yum */
#nav-toggle { 
  position: absolute;
  left: 50%; 
  top: 50%; 
  left: -25px;

}

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {

  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
.summoner-details {
  text-align:center;
  font-size: 1.6em;
}
#stats_table td:hover {
  color:blue;
  cursor:pointer;
}
.summoner-details img {
  float:left;
}

.help-block{
  color: red;
}

.greenlight {
  color: green;
}

.black-transparent{
  background: rgba(24, 24, 24, 0.86);
  padding-bottom: 15px;
  border-radius: 2%;
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  { 
    margin-top: 20px;
  } 
}
#spacer{
  height: 50px;
}

.nav-sidebar li{
  margin-top: 20px;
}
.nav li a {
  padding-right: 0;
  right: -10px;
  font-size: 20px;
}

.icon{
  float: right;
  padding-right: 11px;
}
