<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">lol_bet</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/home')}">
          <a href="/home">Home</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}">
          <a href="/admin">Admin</a>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/summoner_search')}">
          <a href="/summoner_search">Search Summoners</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <form ng-hide="isLoggedIn()" class="navbar-form" name="form" ng-submit="login(form)" ng-controller="LoginCtrl" novalidate>

          <div class="control-group sign-in">
            <div class="controls form-inline">
              <input autofocus type="email" name="email"  class="form-control" ng-model="user.email" required placeholder="Email">

              <input type="password" name="password" class="form-control" ng-model="user.password" required placeholder="Password">
              <button class="btn btn-inverse btn-login" type="submit">Login</button>

              <div class="form-group has-error">
                <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">Please enter your email and password.</p>
                <p class="help-block" ng-show="form.email.$error.email && submitted">Please enter a valid email.</p>

                <p class="help-block">{{ errors.other }}</p>
              </div>
            </div>
          </div>
        </form>
        <li ng-show="isLoggedIn()">
          <p class="navbar-text">Hello {{ getCurrentUser().summoner.name }}</p>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
          <a href="/settings">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
          <a href="" ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>

<!-- login form -->

</div>