.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    height: 750px;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: url(http://na.leagueoflegends.com/sites/default/files/upload/art/team_graves_2.jpg);
    background-size: cover;
}

// Home view
.home-box {
    color: black;
    padding: 0;
    text-align: left;
    background-color: #e7e7e7;
    
    .home-header {
        border-bottom: 1px solid;

        * {
            display: inline-block;
        }

        img {
            width: 100px;
        }

        .right {
            float: right;
            margin: 26px;
        }
    }
    
    .home-body {
        padding: 10px;

        .home-body-left {
            text-align: center;

            .button {
                margin: 15px 0;
                
                button {
                    width: 200px;
                }    
            }
        }   
    }
}

.features {
    text-align: center;
    margin-top: 70px;
    
    div>div {
        padding: 0 30px;

        &:nth-child(odd) {
            border-left: 1px solid #E5E5E5;
            border-right: 1px solid #E5E5E5;
        }
    }
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}