.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    height: 750px;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: url('../../assets/images/background.jpg');
    background-size: cover;

    .splash-title {
        p {
            width: 378px;
            margin: 0 auto;
            border: 1px solid;
            background-color: rgba(184, 184, 171, 0.5);
        }
    }
}

.features {
    text-align: center;
    margin-top: 70px;
    
    div>div {
        padding: 0 30px;

        &:nth-child(odd) {
            border-left: 1px solid #E5E5E5;
            border-right: 1px solid #E5E5E5;
        }
    }
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}