<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner" ng-init="deposit = true">
  <div class="container background-blur" ng-controller="HomeCtrl" ng-keyup="cancelSearch($event)">
    <div class="col-sm-12 col-md-8 col-md-offset-2 home-box">
      <div class="home-header">
        <div class="left">
          <img src="{{ user.avatarURL }}" alt="User Avatar">
          <h3 class="summoner-name">{{ user.summoner.name }}</h3>
        </div>
        <div class="right">
          <button class="orange-button depositWithdrawButtons" ng-click="deposit = true">deposit</button>
          <button class="orange-button depositWithdrawButtons" ng-click="deposit = false">withdraw</button>
          <!-- <a ng-href="/home"><button class="orange-button">Back</button></a> -->
        </div>
        
      </div>

          
        <div class="btc-deposit-body" ng-show="deposit">
        
        <h3 class="depositHeader">Your unique deposit address:</h3>
        <input type="disabled" class="btcInput" value="{{ inputAddress }}">
        <p>All bitcoin deposits to this address will be accreddited to your lolbet account balance,  usually within 10 minutes.</p>
        </div>

        <div class="btc-withdraw-body" ng-hide="deposit" ng-hide="deposit">
        <h3 class="withdrawHeader">WITHDRAW</h3>
        <form  ng-submit="requestWithdrawal(user)">
          <div class="form-group">
            <input class="form-control withdrawlForm" type="text" ng-model="user.withdrawValue" placeholder="Enter amount of mBits to withdraw">
          </div>
          <div class="form-group">
            <input class="form-control withdrawlForm" type="text" ng-model="user.btcAddress" placeholder="Enter your Bitcoin address">
          </div>
          <div class="form-group">
            <button class="requestSubmit orange-button" type="submit">Submit</button>
          </div>
        </form>
        <p>For an added measure of security withdrawals take up to 12 hours to process.</p> 
        <div ng-show="requestSuccess" class="btn btn-success">
          <strong>Request received</strong>
        </div>

        </div>
    
    </div>
  </div>
</header>