.home-box {
  color: black;
  padding: 0;
  text-align: left;
  background-color: #e7e7e7;
  margin-top: 30px;
  box-shadow: 2px 2px 11px 4px #302020;
  
.home-header {
    border-bottom: 1px solid;

    * {
        display: inline-block;
    }

    img {
        width: 100px;
    }

    .right {
        float: right;
        margin: 26px;
    }
}

.home-body {

    .home-body-left {
        text-align: center;
        padding: 15px;
        border-right: 1px solid;
        border-color: orange;

        .button {
            margin: 10px 0;
            
            button {
                width: 200px;
            }    
        }
    }

    .home-body-right {
        padding: 15px;
    }   
}
}

.search-loading {
  position: fixed;
  background-color: rgba(26, 26, 22, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0px;
  top: 0;
  padding: 200px;

  .loading-ball {
      position: relative;
      right: 14px;
      top: 17px;  
  }

  h3 {
      color: #E2E1E1;
  }
}

.ball {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear;
}

.ball1 {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  -moz-animation: spinoff .5s infinite linear;
  -webkit-animation: spinoff .5s infinite linear;
}

  @-moz-keyframes spin {
  0% {
      -moz-transform: rotate(0deg);
  }

  100% {
      -moz-transform: rotate(360deg);
  };
  }

  @-moz-keyframes spinoff {
  0% {
      -moz-transform: rotate(0deg);
  }

  100% {
      -moz-transform: rotate(-360deg);
  };
  }

  @-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  };
  }

  @-webkit-keyframes spinoff {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(-360deg);
  };
}
.summoner-name {
  font-family: 'Averia Serif Libre', san-serif;
  max-width: 500px;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 40px;
}

.champIcon{
  width: 30px;
}

.champIcon:hover{
  width: 35px;
  position: relative;
}
.match{
  margin-bottom: 5px;
  border: thick;
  border-radius: 5px;
  /*background-color: rgba(80, 80, 80, 0.56);*/
  background: linear-gradient(rgb(144, 139, 131), #6F6B68);
  padding: 5px 5px 5px 5px;
  text-align: center;
  &:hover {
    height: 40px;
    transition: all;
  }
}
.winner{
  margin-left: 30px;
  color: white;
}

.team1{
  /*background: purple;*/
}
.team2{
  /*background: blue;*/
}
.recent-match-title{
  text-align: center;

}


.orange-button {
  text-transform: uppercase;
  padding: 11px 20px 8px 20px;
  font-size: 16px;
  margin-top: 10px;
  color: black;

  border-color: #f6c653 #bd6a23 #b6631f #e8ab4a;
  background: linear-gradient(orange, rgb(255, 97, 0));
  &:hover {
    color: #222;
    border-color: #fdeaba #bf712c #b66521 #edbd6e;
    background: linear-gradient(#E57E1A, #ffb800);
  }

  &:active {
    color: #222;
    border-color: #e1b03d #7f3517 #772d16 #c17f30;
    background: #D08901;
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) { 
    font-size: 14px;

  }
}

