<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container background-blur" ng-controller="HomeCtrl" ng-keyup="cancelSearch($event)">
  <div class="search-loading" ng-show="loading">
    <div class="loading-ball">
      <div class="ball"></div>
      <div class="ball1"></div>
    </div>
    <h3>Searching...</h3>
    <p>(press esc to cancel)</p>
  </div>
    <div class="col-sm-12 col-md-8 col-md-offset-2 home-box">
      <div class="home-header">
        <div class="left">
          <img src="{{ user.avatarURL }}" alt="User Avatar">
          <h3 class="summoner-name">{{ user.summoner.name }}</h3>
        </div>
        <div class="right">
          <button class="btn-large" ng-click="searchGames()">
            Search for games!
          </button>
        </div>
      </div>
      <div class="home-body">
        <div class="col-sm-12 col-md-4 home-body-left">
          <div class="col-sm-12">
            <h4> <img class="btc-logo" src="/assets/images/BC_Logo.png"> {{ user.bitcoins }}</h4>
          </div>
          <div class="col-sm-12">
            <h6> $10.00 USD</h6>
            
          </div>

          <div class="col-sm-12 button">

            <a ng-href="/btc_transaction">
              <button class="btn-large btn-large-primary">Deposit / Withdraw</button>
            </a>
          </div>
          
        </div>
        <div class="col-sm-12 col-md-8 home-body-right" ng-controller="RecentMatchesCtrl">
          <div class="recent-match-title">Recent Matches</div>
          <div class="match" ng-repeat="match in matches">
            <!-- <span class="winner">{{match.winner}}</span> -->
            <span class="team1">
              <img class="champIcon" src="/assets/images/champIcons/{{icon}}.png" alt="Champ1" ng-repeat="icon in match.team1Champs">
            </span>
            VS
            <span class="team2">
              <img class="champIcon" src="/assets/images/champIcons/{{icon}}.png" alt="Champ2" ng-repeat="icon in match.team2Champs">
            </span>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</header>




<script id="sid0020000074915259803">(function() {function async_load(){s.id="cid0020000074915259803";s.src=(window.location.href.indexOf('file:///') > -1 ? 'http:' : '') + '//st.chatango.com/js/gz/emb.js';s.style.cssText="width:484px;height:300px;";s.async=true;s.text='{"handle":"lolbetchat","arch":"js","styles":{"a":"000000","b":67,"c":"FFFFFF","d":"FFFFFF","f":67,"i":67,"k":"000000","l":"000000","m":"000000","n":"FFFFFF","o":67,"q":"000000","r":67,"pos":"br","cv":1,"cvbg":"000000","cvw":75,"cvh":30}}';var ss = document.getElementsByTagName('script');for (var i=0, l=ss.length; i < l; i++){if (ss[i].id=='sid0020000074915259803'){ss[i].id +='_';ss[i].parentNode.insertBefore(s, ss[i]);break;}}}var s=document.createElement('script');if (s.async==undefined){if (window.addEventListener) {addEventListener('load',async_load,false);}else if (window.attachEvent) {attachEvent('onload',async_load);}}else {async_load();}})();</script>
