

.left { 
  padding:10px;
}

.left input[type="text"] {
  padding:5px;
}

.online {
  color:green;
}
.offline {
  color:red;
}
ul.summonerFilter{
  list-style-type:none;
}
.summoner-details {
  text-align:center;
  font-size: 1.6em;
}

.summoner-details img {
  float:left;
}
.back {
  margin-top:3px;
}

.tip {
color: #ccc;
background: #1d1d1d;
padding:8px;

display: none; 
position:absolute;

-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;

z-index:100;
}

.tip_event {
  display: inline-block;
  margin-top:10px;
}
.info_stat_box {
  overflow: scroll; 
  overflow-y: hidden; 
  overflow-x: hidden; 
  height: 200px;
  color: white;
}
.stats_tip {
  background-color:steelBlue; 
  padding:10px;
}

.stats_name {
  text-align:center; 
  font-size:1.2em; 
  height:100px;
  padding:10px 5px 5px 5px;
  display:inline-block
}
.stats_wins {
  text-align:left;
  margin-top:3px;
}
.stats_dtails {
  text-align:left;
}
.summary_type {
  text-align: center;
}
.stat_image {
  height:100px; 
  float:left; 
  width:100px;
  background-repeat:no-repeat;

}




