<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="col-sm-12 col-md-8 col-md-offset-2 home-box" style="overflow: scroll; height:80%; padding:10px;">
    <div class="home-header" >
      <div class="left">
        <p class="{{online}}">{{online}}</p>
        <input autofocus ng-hide="summonerView" class="ng-hide" ng-click="searchSummoner()" ng-model="query" placeholder="search Summoner" type="text"/>
      </div>
    </div>

    <div ng-hide="summonerView" class="ng-hide" style="overflow: scroll;">
      <table class="span5 table">
        <thead>
          <th>Name</th>
          <th>Profile</th>
        </thead>

        <tr ng-repeat="summoner in userObject | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage | filter:query">

          <td>
            {{summoner.name}}<br/>
            <img width="50" height="auto" src='https://ddragon.leagueoflegends.com/cdn/4.18.1/img/profileicon/{{summoner.profile_icon_id}}.png'/>
          </td>
          <td>
             <a href="/summoner_search/{{summoner.indexName}}">Profile</a>
          </td>
        </tr>
        <caption class="pagination-links">
          <ul class="pagination" ng-hide="hideSearch == 'true'" class="ng-hide">
            <li>
              <a href="" ng-click="pagination.prevPage()">&laquo;</a>
            </li>
            <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
              <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
            </li>
            <li>
              <a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
            </ul>
        </caption>
      </table>

    </div>

    <div ngShow="summonerView">
      <div>
        <table class="span5 table">

          <tr ng-repeat="summoner in summonerDetails">
            <td style="text-align:center;">
              <a href="/summoner_search/{{summoner.profile_icon_id}}">{{summoner.name}} level {{summoner.summoner_level}}</a><br/>
              <img src='https://ddragon.leagueoflegends.com/cdn/4.18.1/img/profileicon/{{summoner.profile_icon_id}}.png'/>
           </td>
           <td>
            <ul><br/>
              <li>Games Played:</li>
              <li>Win/Loss Ratio:</li>
              <li>Bitcoins Earned:</li>
              <li>Minions Killed:</li>
            </ul>
           </td>
          </tr>
          <!-- <caption class="online">{{online}}</caption> -->
        </table>
      </div>
    </div>

  </div>
</header>