<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="col-sm-12 col-md-8 col-md-offset-2 home-box" style="overflow: scroll; height:80%; padding:10px;">
    <div class="home-header" >
      <div class="left">
        <p class="{{online}}">{{online}}</p>
        <form novalidate class="simple-form">
          <input ng-hide="summonerView" ng-click="listSummoners()" class="ng-hide" type="text" ng-model="sm_name" ng-change="summoner_name=sn_number" placeholder="Search Summoners"/>
        </form>
      </div>
    </div>


    <div ng-hide="summonerView" class="ng-hide">

      <div ng-show="(filteredSummoners | filter:summoner_name).length == 0">
        <div ng-hide="cantFind=='true'" class="ng-hide">
          Sorry, it appears that {{summoner_name}} isn't registered with us<br/>
          Check if <strong>{{summoner_name}}</strong> has a League of Legends account?
          <button ng-click="checkSummoner(summoner_name)">Search</button>
        </div>
        
          <ul class="summonerFilter">
            <li><a href="http://www.lolnexus.com/NA/search?name={{user[0].name}}">{{user[0].name}}</a></li>
            <li><img src="https://ddragon.leagueoflegends.com/cdn/4.18.1/img/profileicon/{{user[0].profile_icon_id}}.png"</img></li>
            <li>{{user[0].summoner_level}}</li>
          </ul>
        </div>

      <table class="span5 table" ng-show="(filteredSummoners | filter:summoner_name).length != 0">
        <thead>
          <th>Name</th>
          <th>Profile</th>
        </thead>
          
          <tr ng-repeat="summoner in filteredSummoners = ( userObject | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage | filter:summoner_name)">
   
          <td>
            {{summoner.name}}<br/>
            <img width="50" height="auto" src='https://ddragon.leagueoflegends.com/cdn/4.18.1/img/profileicon/{{summoner.profile_icon_id}}.png'/>
          </td>
          <td>
             <a href="/summoner_search/{{summoner.indexName}}">Profile</a>
          </td>
        </tr>
        <caption class="pagination-links">
          <ul class="pagination" ng-hide="hideSearch == 'true'" class="ng-hide">
            <li>
              <a href="" ng-click="pagination.prevPage()">&laquo;</a>
            </li>
            <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
              <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
            </li>
            <li>
              <a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
            </ul>
        </caption>
      </table>

    </div>

    <div ngShow="summonerView">
      <div>
        <table class="span5 table">

          <tr ng-repeat="summoner in summonerDetails">
            <td style="text-align:center;">
              {{summoner.name}} level {{summoner.summoner_level}}<br/>
              <img src='https://ddragon.leagueoflegends.com/cdn/4.18.1/img/profileicon/{{summoner.profile_icon_id}}.png'/>
           </td>
           <td>
            <ul><br/>
              <li>Games Played:</li>
              <li>Win/Loss Ratio:</li>
              <li>Bitcoins Earned:</li>
              <li>Minions Killed:</li>
            </ul>
           </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</header>