
#button_summon {
-moz-box-shadow: -3px -2px 5px 0px #97c4fe;
  -webkit-box-shadow: -3px -2px 5px 0px #97c4fe;
  box-shadow: -3px -2px 5px 0px #97c4fe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
  background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background-color:#3d94f6;
  -webkit-border-top-left-radius:37px;
  -moz-border-radius-topleft:37px;
  border-top-left-radius:37px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:37px;
  -moz-border-radius-bottomright:37px;
  border-bottom-right-radius:37px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #337fed;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:53px;
  width:6em;
  line-height:53px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 2px 0px #1570cd;
        float: right;
        margin-top: 0px;
        margin-right: 30px;

}

#button_summon:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
  background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
  background-color:#1e62d0;
}
