<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container background-blur" ng-controller="HomeCtrl" ng-keyup="cancelSearch($event)">
    <div class="col-sm-12 col-md-10 col-md-offset-1 match-box">
      <div class="col-sm-12 col-md-5 player">
        <div class="player-inner">
          <h2>{{ player.name }}</h2>
          <div class="col-md-4 match-icon">
            <img src="{{ player.iconUrl }}" alt="Player Icon">
          </div>
          <div class="col-md-4 bet-input" ng-show="match.active">
            <input type="number" ng-model="player.bet" ng-change="sendBet()">
            <button class="btn-large btn-large-primary confirm" ng-click="lockIn()">Lock In</button>
          </div>
          <div class="col-sm-4 bet-details">
            <h4><small>Max bet: </small>{{ player.bet }}mBit</h4>
            <p>$0 USD</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 pot">
        <p>{{ match.timer }} seconds</p>
        <h3>{{ pot }}mBit</h3>
      </div>
      <div class="col-sm-12 col-md-5 opponent">
        <div class="opponent-inner">
          <h2>{{ opponent.name }}</h2>
          <div class="col-sm-6 bet-details">
            <h4><small>Max bet: </small><br>{{ opponent.bet }}mBit</h4>
            <p>$0 USD</p>
          </div>
          <div class="match-icon">
            <img src="{{ opponent.iconUrl }}" alt="Opponent Icon">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 match-box-bottom">
        <div class="col-sm-12 col-md-5 player-team">
          <table class="table">
            <thead>
              <th>Icon</th>
              <th>Name</th>
              <th>Level</th>
            </thead>
            <tbody>
              <tr ng-repeat="player in player.team">
                <td><img src="https://ddragon.leagueoflegends.com/cdn/4.13.1/img/profileicon/{{ player.summoner.profileIconId }}.png" alt=""></td>
                <td>{{ player.summoner.name }}</td>
                <td>{{ player.summoner.summonerLevel }}</td>  
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-12 col-md-5 col-md-offset-2 opponent-team">
          <table class="table">
            <thead>
              <th>Level</th>
              <th>Name</th>
              <th>Icon</th>
            </thead>
            <tbody>
              <tr ng-repeat="player in opponent.team">
                <td>{{ player.summoner.summonerLevel }}</td>
                <td>{{ player.summoner.name }}</td>
                <td><img src="https://ddragon.leagueoflegends.com/cdn/4.13.1/img/profileicon/{{ player.summoner.profileIconId }}.png" alt=""></td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</header>