.match-box {
  color: black;
  padding: 0;
  text-align: left;
  background-color: #e7e7e7;
  margin-top: 30px;
  box-shadow: 2px 2px 11px 4px #302020;
  padding: 0px 0 20px;
  
  .status {
    text-align: center;
    padding: 0;
    margin-bottom: 30px;

    h3 {
      margin: 10px 0;
    }

    &.complete {
      background: rgba(14, 169, 16, 0.54);
    }

    &.active {
      background: rgba(72, 50, 207, 0.54);
    }
  }

  .pot {
    border: 1px solid black;
    border: 1px solid black;
    border-radius: 109px;
    height: 207px;
    padding: 22px 27px;
    text-align: center;
  }

  .player {
    padding-right: 0;

    .player-inner {
      .match-icon {
        float: left;
        padding: 0;
      }

      .bet-input {
        padding-top: 20px;

        input {
          width: 100%;
          height: 45px;
          padding: 7px 20px;
          font-size: 20px;
        }
      }

      .bet-details {
        text-align: right;
        float: right
      }
    }
  }

  .opponent {
    text-align: right;
    padding-left: 0;
    
    .opponent-inner {
      .match-icon {
        float: right;
      }
      .bet-details {
        text-align: left;
      }
    }
  }

  .match-box-bottom {
    table {
      img {
        width: 30px;
      }
    }
  }

  .match-box-left {

    .match-box-top {
      margin: 50px 0 25px;

      .bet-details {
        input {
          width: 83px;
          height: 50px;
          font-size: 25px;
          padding: 0 10px;
        }
      }
    }

    .match-box-bottom {
      margin: 25px 0 50px;

      .bet-details {
        h4 {
          font-size: 25px;
        }
      }
    }
  }
  .match-box-right {
    border-left: 1px solid #BDBDBD;

    table {
      margin-bottom: 0;

      img {
        width: 30px;
      }
    }

    .opponent-team {
      border-bottom: 1px solid #BDBDBD;
    }
  }
}

/* ------------------------------------------- */
/* Bouncy Slide Top 
/* ------------------------------------------- */
/* line 325, ../sass/ng-animation.scss */
.bouncy-slide-top {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}
/* line 328, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
/* line 334, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}
/* line 339, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
/* line 345, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0;
}
/* line 351, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
/* line 356, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-add.ng-hide-add-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0;
}
/* line 362, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-remove {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
/* line 368, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}